# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/

# Temporales
*.tmp
*.bak
*.log

# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
*.toc

# Python
__pycache__/
*.pyc

# Node / dependencias
node_modules/

# Archivos comprimidos temporales
*.zip
*.rar
*.7z

# Permitir el contenedor cifrado oficial de evidencias
!02_Evidencias/00_Restringido/evidencias_restringidas.7z

# Archivos de respaldo
~$*
*.old
